        <section id="banner">
    <div class="container flex-stretch">
        <div class="vertical-center h-center w-horz ">
                <h1 id="title-banner">Ruby on Rails</h1>            
        </div>
    </div>    
</section>
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Welcome, Hola Ruby On rails</h2>
                <p>Ruby on rails</p>            
            </div>        
        </div>    
    </div>
    
</section>


