.navbar{
    margin-bottom: 0px !important;
    border-radius: 0px !important;
    box-shadow: 1px 1px 1px 1px;
}

#banner{
    background-color: #f44336;
    margin: 0;
    padding: 0;
    height: 600px;
    display:flex;
    align-items: stretch;
}
.flex-stretch{

    display: flex;
    align-items: stretch;

}

.vertical-center{
    display: flex;
    align-items: center;
}
#title-banner{
    color: #fff;
    font-weight: 900;
}

.h-center{
    justify-content: center;
}
.w-horz{
    width: 100%;
}
/**view New**/

#create {
    background-color: #f44336;
    margin: 0;
    padding: 0;
    height: 300px;
    display:flex;
    align-items: stretch;
}
.field{

    margin-top: 20px;
}

.form-control{
    border: none !important;
    border-bottom: 1px solid !important;
    outline: none;
    width: 100%;
    display: block;
    padding: 10px 0px;
    font-size: 1.2em;
}